.speech{
    color:rgb(20, 20, 20);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size:15px;
    text-decoration: solid;
    }
    .song{
        color:black;
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size:18px;
        text-decoration: solid;
            }
    .direction{
        color:rgb(21, 25, 252);
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size:18px;
        background-color:rgb(115, 239, 233);
        }
    .direction:hover{
        background-color:rgb(10, 224, 99);
        color:rgb(254, 254, 254);
    }
    .BUT{
        color:rgb(196, 4, 225);
        font-size: 18px;
    }
    .CAPT{
        color:rgb(76, 8, 212);
        font-size: 18px;
    }
    .CAPT:hover {
        color: rgb(203, 81, 81);
        background-color:rgb(50, 144, 64);
        text-shadow: 5px 5px 3px rgb(11, 11, 11);
        
        }
    table{
        border-style: double;
    }
    th, td {
        border: 2px solid black;
      }
    th {
       color:purple;
          }
          td{
            color:rgb(234, 236, 237);
          }
           tr:nth-child(even) {
            background-color:rgb(135, 83, 214);
          }
          tr:nth-child(odd) {
            background-color:rgb(31, 3, 74);
          }
          td {
            text-align: center;
            }
            h,td {
                width: 95px;
                padding:0px 4px 4px 4px;
                margin: -32px 0px -15px 95px;
                background: rgb(13, 169, 221);
                border-top: 2px solid rgb(224, 91, 91);
                border-right: 4px dashed rgb(22, 145, 108);
                border-bottom: 8px double rgb(227, 227, 64);
                border-left: 16px inset purple;
             }
                          