.direction{
    background-color: antiquewhite;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serifn;
    font-size: 25px;
    color: black;
}
.direction:hover{
    background-color: blue;
    color: azure;
}


    h5
    {
        color:rgb(212, 20, 20);}
h6:hover{
    color:rgb(90, 59, 120);
}
  
h6{
    color:rgb(9, 11, 12);
    text-shadow: 3px 3px 5px;
}
h1{
    color:rgb(233, 125, 18);}

h3{
    color:rgb(23, 241, 88);}
h3{
    font-size:20px;}

p{
    color:rgb(106, 21, 242);}
span{
    color:rgb(232, 26, 43);}
span:hover{
    background-color:rgb(161, 238, 19);}
h3{
    font-style: italic;}

h1{
    font-style: inherit;}
.Captain{
    font-size: medium;
    colour:rgb(15, 224, 158)
}
table{
    border-style: double;
}
th, td {
    border: 1px solid black;
  }
th {
   color:rgb(223, 83, 7);
      }
      td{
        color:rgb(234, 236, 237);
      }
       tr:nth-child(even) {
        background-color:rgb(8, 130, 236);
      }
      tr:nth-child(odd) {
        background-color:rgb(14, 244, 175);
      }
      td {
        text-align: center;
        }
        h,td {
            width: 80px;
            padding:2px 2px 2px 2px;
            margin: -30px 1px -20px 80px;
            
            border-top: 2px solid rgb(89, 75, 75);
            border-right: 4px dashed rgb(154, 98, 98);
            border-bottom: 8px double rgb(179, 179, 121);
            border-left: 16px inset purple;
         }